<section>
   <h4>You have an active session! Would you like to continue?</h4>
   <section class="actions">
      <ul>
         <li>
            <form action="<%= continue_path %>" method="get" class="misc-button" id="continue">
             <button type="submit">CONTINUE</button>
            </form>
         </li>
      </ul>
   </section>
</section>