<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Twenty-One</title>
    <meta charset="utf-8">      
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
    <script src="/javascripts/jquery-3.6.3.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <main>
      <div class="felt">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
