<li>
  <form action="/game/player/hit" method="post">
    <button type="submit">HIT</button>
  </form>
</li>
<li>
  <form action="/game/player/stay" method="post">
    <button type="submit">STAY</button>
  </form>
</li>